<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Kargo"
            connectionString="Data Source=Z29-10\SA;Initial Catalog=Kargo;Persist Security Info=True;User ID=sa;Password=11072010"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>